[submodule "SI5-soa_api_lab_team_d_ordering_service"]
	path = SI5-soa_api_lab_team_d_ordering_service
	url = https://github.com/NassimBounouas/SI5-soa_api_lab_team_d_ordering_service.git
[submodule "SI5-soa_api_lab_team_d_menu_service"]
	path = SI5-soa_api_lab_team_d_menu_service
	url = https://github.com/NassimBounouas/SI5-soa_api_lab_team_d_menu_service.git
